.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

html, body {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container-base {
  margin-left: 10%;
  width: 80%;
  margin-top: 100px;
}